.divTable{

  position: relative;
  display: table;
  width: 100%;
}
.divTableRow {
  position: relative;
  display: table-row;
  font-family: $fontJosefin;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $secondaryDarkGray;
  transform: scale(1);
  transition: background-color .3s ease;

  &.head{
    font-family: $fontMontserrat;
    font-weight: 400;
    line-height: 20px;
    color: $primaryGray;
  }

  &:not(:first-child):hover{
    background: $secondary_f8;
  }

  > a{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
  }
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
}
.divTableCell, .divTableHead {
  border-bottom: 1px solid #EBEFF1;
  display: table-cell;
  padding: 17px 5px 15px;
}
.divTableHeading {
  background-color: #EEE;
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.divTableCell.link-wrapper{
  a{
    position: absolute;
    left:0;
    right:0;
    top:0;
    height: 100%;
  }
}