$primaryGray:     #141414;
$primaryWhite:    #fff;
$primaryBlue:     #1E25D5;

$secondaryDarkGray: #717171;
$secondary_a8: #A8A8A8;
$secondary_ea: #EBEFF1;
$secondary_f8: #F8F8F8;
$secondaryRed: #FD0017;

$gradientGreen:       radial-gradient(107.71% 207.78% at 0% 4.56%, #0FBC88 0.3%, #009846 54.91%, #0D974D 100%);
$gradientOrange:      radial-gradient(149.26% 141.33% at 20% 3.57%, #FF852D 0.3%, #FD6A00 36.98%, #C2421A 100%);
$gradientRed:         radial-gradient(149.26% 141.33% at 20% 3.57%, #FF2D40 0.3%, #FD0017 36.98%, #C12735 100%);
$gradientGray:        linear-gradient(162.92deg, #F0EEF4 18.45%, #BBBCD7 78.1%, #8189CC 147.73%);

$fontJosefin: 'Josefin Sans', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;